.selected-item-image {width:100px;}
tr.even {
	background-color: #f4f4f5 !important;
}
.text-smaller {font-size: .7rem;}
.center{text-align: center;}
.editable-select {
	min-height:50px;
	min-width: 30px;
}
.itemCard {}
.itemCardImage {height:300px;
	background-size: cover; 
}
.cardImg {
  position: relative;
}

.cardImg::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.cardImg img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.missing {color:red;}
.float-left {float:left;}
.float-right {float:right;}

.checkedOut {	background-color: rgba(221, 85, 59, .4); }
.tiny {font-size:.7rem;}
.outfitImage {
width: 100px;
float: left;
line-height: .8;
text-align: center;
margin:20px;
}

.income.odd {background: darkseagreen !important;}
.expense.odd {background: indianred !important;}
.income.even {background: darkseagreen !important;}
.expense.even {background: indianred !important;}